@page
@model WebLab.Pages.services

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "Services";
}

<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Our Services</h2>
						<ul class="page-title-link">
							<li><a href="#">Home</a></li>
							<li><a href="#">Our Services</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="about" class="section wb">
        <div class="container">
           <div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-display"></span>
						</div>
						<div class="about-text">
							<h3> <a href="#">Lorem ipsum dolor. </a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-database"></span>
						</div>
						<div class="about-text">
							<h3> <a href="#">Lorem ipsum dolor. </a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-magic-wand"></span>
						</div>
						<div class="about-text">
							<h3> <a href="#">Lorem ipsum dolor. </a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-cloud"></span>
						</div>
						<div class="about-text">
							<h3> <a href="#">Lorem ipsum dolor. </a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
						</div>
					</div>
				</div>
			</div>
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div id="services" class="parallax section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Service</h3>
                <p class="lead">Our Service unlimited solutions to all your business needs. in the installation package we prepare search engine optimization, social media support, we provide corporate identity and graphic design services.</p>
            </div><!-- end title -->

            <div class="owl-services owl-carousel owl-theme">
                @foreach (var feature in Model.Features)
                                {
                                    <div class="service-widget">
                                        <div class="post-media wow fadeIn">
                                            <a href="@feature.ImgPath" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                            <img src="@feature.ImgPath" alt="" class="img-responsive img-rounded">
                                        </div>
                                        <div class="service-dit">
                                            <h3>@feature.Headline</h3>
                                            <p>@feature.Description</p>
                                        </div>
                                    </div>
                                    <!-- end service -->
                                }
            </div><!-- end row -->

            <hr class="hr1">

            <div class="text-center">
                <a data-scroll href="#portfolio" class="btn btn-light btn-radius btn-brd">View Our Portfolio</a>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_03.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p class="lead">We thanks for all our awesome testimonials! There are hundreds of our happy customers! <br>Let's see what others say about GoodWEB Solutions website template!</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        @foreach (var testi in Model.Testimonials)
                                                {
                                                    <div class="testimonial clearfix">
                                                        <div class="desc">
                                                            <h3><i class="fa fa-quote-left"></i>@testi.Headline</h3>
                                                            <p class="lead">@testi.Description</p>
                                                        </div>
                                                        <div class="testi-meta">
                                                            <img src="@testi.AvatarPath" alt="" class="img-responsive alignleft">
                                                            <h4>@testi.Name<small>@testi.Position</small></h4>
                                                        </div>
                                                        <!-- end testi-meta -->
                                                    </div>
                                                    <!-- end testimonial -->
                                                }
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="hr1">

            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->
